
*.iobj
*.exe
*.pdb
*.obj
*.obj
*.tlog
*.db
*.vcxproj
*.filters
Basic2D_2/.vs/Basic2D/v15/.suo
Basic2D_2/.vs/Basic2D/v15/.suo
Basic2D_2/.vs/Basic2D/v15/Browse.VC.db
Basic2D_2/.vs/Basic2D/v15/Browse.VC.opendb
Basic2D_2/.vs/Basic2D/v15/ipch/AutoPCH/8295f98d7830681b/MODEL.ipch
Basic2D_2/Basic2D/Basic2D.vcxproj
Basic2D_2/Basic2D/Basic2D.vcxproj.filters
Basic2D_2/Basic2D/Release/Basic2D.Build.CppClean.log
Basic2D_2/Basic2D/Release/Basic2D.log
Basic2D_2/Basic2D/Release/Basic2D.tlog/Basic2D.lastbuildstate
Basic2D_2/Basic2D/Release/Basic2D.tlog/Basic2D.write.1u.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.command.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.read.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.write.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.command.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.read.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.write.1.tlog
Basic2D_2/Basic2D/Release/main.obj
Basic2D_2/Basic2D/Release/Model.obj
Basic2D_2/Basic2D/Release/Sistema.obj
Basic2D_2/Basic2D/Release/tessera.obj
Basic2D_2/Basic2D/Release/vc141.pdb
Basic2D_2/Release/Basic2D.exe
Basic2D_2/Release/Basic2D.iobj
Basic2D_2/Release/Basic2D.ipdb
Basic2D_2/Release/Basic2D.pdb
Basic2D_2/.vs/Basic2D/v15/.suo
Basic2D_2/.vs/Basic2D/v15/Browse.VC.db
Basic2D_2/.vs/Basic2D/v15/Browse.VC.opendb
Basic2D_2/Basic2D/Basic2D.vcxproj
Basic2D_2/Basic2D/Basic2D.vcxproj.filters
Basic2D_2/Basic2D/Release/Basic2D.Build.CppClean.log
Basic2D_2/Basic2D/Release/Basic2D.log
Basic2D_2/Basic2D/Release/Basic2D.tlog/Basic2D.lastbuildstate
Basic2D_2/Basic2D/Release/Basic2D.tlog/Basic2D.write.1u.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.command.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.read.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.write.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.command.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.read.1.tlog
Basic2D_2/Basic2D/Release/Basic2D.tlog/link.write.1.tlog
Basic2D_2/Basic2D/Release/main.obj
Basic2D_2/Basic2D/Release/Model.obj
Basic2D_2/Basic2D/Release/Sistema.obj
Basic2D_2/Basic2D/Release/tessera.obj
Basic2D_2/Basic2D/Release/vc141.pdb
Basic2D_2/Release/Basic2D.exe
Basic2D_2/Release/Basic2D.iobj
Basic2D_2/Release/Basic2D.ipdb
Basic2D_2/Release/Basic2D.pdb
Basic2D_2/Basic2D/Release/Basic2D.tlog/CL.read.1.tlog
